const Container = () => (
  <Provider value="notDefaultValue">
    <Item/>
  </Provider>
);

const Item = () => (
  <Consumer>
    {value => <div>{value}</value>} // Output: notDefaultValue
  </Consumer>
);
